body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*
    Post
*/
.post {
    padding: 5px 10px;
    width: 50%;
    min-height: 200px;
    border: 1px solid black;
    box-shadow: 0 0 2px 1px gray;
    margin: auto;
    margin-top: 50px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.post-header > h3 + h4 {flex: 1;}

.post-header h3 + h4:first-child {
    margin-right:auto;
}

.post-header h3 + h4:last-child {
    margin-left: auto;
    text-align: right;
}

.post-content {
    padding-top: 5px;
}


/*
    Login
*/

.login {
    width: 600px;
    margin: auto;
    height: 700px;
    margin-top: 50px;
}