@model MessageViewModel

@*Have to set the UserId before calling this PartialView in the controller*@
@if (ViewBag.UserId == Model.SenderId)
{
    <article class="message message-reciever">
        <header>
            <h2 class="message_username">@Model.SenderUserName</h2>
        </header>
        <div class="speech-bubble">
            <div class="arrow right">
                <p class="message_contents">
                    @Model.Text
                </p>
            </div>
        </div>
    </article>
}
else
{
    <article class="message">
        <header>
            <h2 class="message_username">@Model.SenderUserName</h2>
        </header>
        <div class="speech-bubble">
            <div class="arrow right">
                <p class="message_contents">
                    @Model.Text
                </p>
            </div>
        </div>
    </article>
}

