@model PagingViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "My Inbox";
}

<header class="section section-alt">
    <h1>Messages</h1>
</header>

<section class="section inbox">
    
    @await Component.InvokeAsync("ConversationList", new { userId = UserManager.GetUserId(User),  skip = Model.PageSize * (Model.PageIndex - 1), take = Model.PageSize })
    
    @{
        var prevDisabled = !Model.HasPrev ? "disabled" : "";
        var nextDisabled = !Model.HasNext ? "disabled" : "";
    }
    <a asp-action="Inbox" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
    <a asp-action="Inbox" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>
</section>