@model UserProfile

@{
    ViewData["Title"] = "My Inbox";
}

<section class="section">
    <header>
        <h1>Messages</h1>
    </header>
    Render message preview here
    @*ViewBag.MessageList => render*@
</section>