@model Message

@{
    ViewData["Title"] = "My Inbox";
}

<section class="message-container">
    <section class="section message-list">
        @if(ViewBag.Messages != null)
        {
            foreach(MessageViewModel message in ViewBag.Messages)
            {
                await Html.RenderPartialAsync("_Message", message);
            }
        }
    </section>
    <section class="message-form">
        <form asp-action="Message">
            <textarea asp-for="Text" class="text-box" rows="4" placeholder="Send Message"></textarea>
            <input asp-for="SenderId" hidden/>
            <input asp-for="ReceiverId" hidden/>
            <input type="submit" class="btn btn-primary" value="Send" />
        </form>
    </section>
</section>