@model UserProfile

@{
    ViewData["Title"] = "Contact Us";
}

<section class="contacts">
    <header>
        <h1>Contact Us</h1>
    </header>
    <h2>To view the code for the site:</h2>
    <br />
    <h3><a href="https://github.com/LeviButcher/wvup-social-media">GitHub repo</a></h3>
    <br />
    <h2>Developer emails</h2>
    <br />
    <h3>Levi Butcher: </h3>
    <h3>Samantha Burkey: sburkey@wvup.edu</h3>
    <h3>Sean Rickard: </h3>
</section>
