<section class="ePage-section">
    <h1 class="text-center">Whoops, looks like you flew the nest!</h1>
</section>
<section class="ePage-section" >
    <div style="display: flex; justify-content: center; height: 570px">
        <img src="~/images/404_nest.png"/>
    </div>
</section>
