<section class="section">
    <h1 class="text-center">Whoops, looks like you flew the nest!</h1>
</section>
<section class="section" >
    <div style="display: flex; justify-content: center">
        <img src="~/images/404_nest.png"/>
    </div>
</section>
