@model IEnumerable<UserPost>

@{
    ViewData["Title"] = "Home Page";
}


@foreach(UserPost post in Model)
{
    <article class="post">
        <header class="post-header">
            <h3>@post.UserName</h3>
            <h4>@post.DateCreated</h4>
        </header>
        <div class="post-content">
            <p>
                @post.Text
            </p>
        </div>
    </article>
}