@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<section>
    <article class="user-form">
        <header>
            <h1 class="text-center">Change Password</h1>
        </header>
        <form asp-controller="User" asp-action="ChangePassword" method="post" class="form">
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label">Current Password</label>
                <span asp-validation-for="CurrentPassword"></span>
                <input asp-for="CurrentPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New Password</label>
                <span asp-validation-for="NewPassword"></span>
                <input asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword"></span>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
            @Html.HiddenFor(x => x.UserId)
        </form>
    </article>
</section>
