@model UserProfile

@{
    ViewData["Title"] = "Edit Profile";
}

<section>
    <article class="user-form">
        <header>
            <h1 class="text-center">Edit Profile</h1>
        </header>
        <form asp-controller="User" asp-action="Edit" method="post" class="form">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <span asp-validation-for="Bio" class="text-danger"></span>
                <input asp-for="Bio" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.FollowerCount)
            @Html.HiddenFor(x => x.FollowingCount)
            @Html.HiddenFor(x => x.UserId)
        </form>
    </article>
</section>
