@model UserProfile

@{
    ViewData["Title"] = "Edit Profile";
}

<section class="container">
    <article>
        <form asp-controller="User" asp-action="Edit" method="post" class="form">
          
            <div>
                <label asp-for="UserName" class="control-label"></label>
                <span asp-validation-for="UserName"></span>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.FollowerCount)
            @Html.HiddenFor(x => x.FollowingCount)
            @Html.HiddenFor(x => x.UserId)
        </form>
    </article>
</section>
