@model List<UserPost>

<section class="post-container" data-userId="@ViewData["user-id"]" data-action="@ViewData["post-call"]">
    @if (Model.Count > 0)
    {
        @foreach (UserPost post in Model)
        {
            @await Html.PartialAsync("_UserPost", post)
        }
    }
    else
    {
        <div class="section">
            <h3>@ViewData["No-Post-Message"]</h3>
        </div>
    }
</section>

<script>
    window.onload = () => {
        const main = document.querySelector('main');
        const postContainer = document.querySelector('.post-container');
        let userId = postContainer.dataset.userid;
        let action = postContainer.dataset.action;
        const startSkip = 10;
        const startTake = 10;
        scrollLoader(main, postContainer,`${action}/${userId}`, startSkip, startTake);
    };
   
</script>