@using Microsoft.AspNetCore.Identity
@model List<UserProfile>

@inject UserManager<User> UserManager

<section class="section list user-container" data-currUser="@UserManager.GetUserId(User)" data-userId="@ViewData["user-id"]" data-action="@ViewData["action"]">
    @if (Model.Count() != 0)
    {
        <partial name="_UserProfileList" model="Model"/>
    }
    else
    {
        <h2>Nothing to be seen here</h2>
    }
</section>
<script>
    window.onload = () => {
        const main = document.querySelector('main');
        const userContainer = document.querySelector('.user-container');
        let userId = userContainer.dataset.userid;
        let action = userContainer.dataset.action;
        const startSkip = 10;
        const startTake = 10;
        if (action.length != 0) {
            scrollLoader(main, userContainer, `${action}/${userId}`, startSkip, startTake, false, scrollCallback);
        }
    };

    function scrollCallback() {
        updateUserList();
    }

</script>
