@model CommentViewModel


<div class="post-comment">
    <label onclick="toggleCommentForm()">Add A Comment</label>
    <form asp-action="CreateComment" method="post" id="comment-form" class="post-comment-form">
        <input asp-for="Text" type="text" class="text-box" />
        <input asp-for="PostId" hidden />
        <input asp-for="UserId" hidden />
        <input type="submit"/>
    </form>
</div>