@model CommentViewModel


<button class="comment-label" data-post="@Model.PostId" onclick="toggleCommentForm()">Add a Comment</button>
<form asp-controller="Post" asp-action="CreateComment" method="post" id="@("comment-form" + Model.PostId)" class="post-comment-form">
    <input asp-for="Text" type="text" class="text-box form-control" />
    <input asp-for="PostId" hidden />
    <input asp-for="UserId" hidden />
    <input type="submit" class="btn btn-primary" />
</form>

