@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using WVUPSM.Models.Entities;

@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WVUPSM.MVC</title>
    <base href='@Url.Content("~/")'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

</head>
<body>
    <nav class="top-nav">
        <ul class="top-nav-left">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="bar"><i class="fas fa-bars" id="drawer-button"></i></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>
                    <form asp-action="Search" asp-controller="Home" method="get">
                        <input type="search" placeholder="Search.." name="search" class="form-control search" />
                    </form>
                </li>
                <li> <a asp-controller="Post" asp-action="Create" class="feather"><i class="fas fa-feather"></i></a></li>
            }
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <div class="body-content">
        <section class="primary-nav-drawer" id="drawer">
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Settings">Settings</a></li>
                </ul>
            </nav>
        </section>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <article>
            <h4>Developers</h4>
            <ul class="dev-list">
                <li>Levi Butcher - lbutche3@wvup.edu</li>
                <li>Sean Rickard - srickard@wvup.edu</li>
                <li>Samatha Burkey - sburkey@wvup.edu</li>
            </ul>
        </article>
        <h2>#WVUPSM</h2>
        <article>
            <h5>Found a bug?</h5>
            <h5>Have a feature request?</h5>
            <h6>Submit it at <strong>Issues</strong> on our <a target="_blank" href="https://github.com/LeviButcher/wvup-social-media">Repo</a></h6>
        </article>
    </footer>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
