
@model GroupViewModel

@{
    ViewData["Title"] = "Create Group";

}

<header class="section section-alt">
    <h1>Create Group</h1>
</header>
<section class="section">
    <article class="group-form">
        <header>
            <h2>Owner: @Model.OwnerUserName</h2>
        </header>
        <form asp-controller="Group" asp-action="Create" method="post">
            <div class="form-group">
                <span asp-validation-for="GroupName"></span>
                <input asp-for="GroupName" class="form-control" autofocus placeholder="Group name">
            </div>
            <div class="form-group">
                <span asp-validation-for="Bio"></span>
                <input asp-for="Bio" class="form-control" autofocus placeholder="Group bio">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
                <a class="btn btn-danger" asp-action="MyGroups" asp-controller="Group">Cancel</a>
            </div>
            <input asp-for="OwnerId" hidden />
        </form>
    </article>
</section>
