<section class="section section-alt">
    <h1>My Groups - @User.Identity.Name</h1>
    <h3><a asp-controller="Group" asp-action="Create">Create Group</a></h3>
</section>
<section class="section">
    @await Component.InvokeAsync("GroupList", new { userId = TempData["UserId"] })
</section>
